{% extends 'base.html' %}

{% block title %}Employweb{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Gerencie seu time de colaborares de onde quer que esteja!</h1>
    <p>O sistema Employweb foi criado, para facilitar o cadastro e gerenciamento de seus colaboradores, onde quer
        que você esteja!
    </p>
   <ul>
       <li>
            <h3>
               Consulte
        </li>                     
            </h3>
        <li>
            <h3>
                Altere                           
            </h3>
        </li>

    
   </ul>

    
</body>
</html>
{% endblock %}